<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PortName" value="COM5"/>
		<add key="ApiUrl" value="https://localhost:7186/api/sensor"/>
		<add key="MconnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False"/>
		<add key="connectionString" value="DData Source=(localdb)\MSSQLLocalDB;Initial Catalog=AppDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
	</appSettings>
</configuration>
