<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PortName" value="COM3"/>
		<add key="ApiUrl" value="https://localhost:7186/api/sensor"/>
		<add key="MconnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False"/>
		<add key="connectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\PKTI\nookenApp\nookenApp\DB\DataB2.mdf;Integrated Security=True"/>
	</appSettings>
</configuration>
